DB_USER=sa
DB_PASSWORD=YourPassword
SERVER=103.197.76.251
DB_NAME=fleet2
NODE_ENV=production
PORT=4000
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=24h
RESEND_API_KEY=your-resend-api-key
FROM_EMAIL=onboarding@resend.dev
FROM_NAME=Transplus
